body {
  // background-color: $medieval-yellow;
  background-image: radial-gradient($medieval-yellow 60%, $medieval-brown);
  font-family: $font-family-body;
}

header, footer {
  background-image: radial-gradient($medieval-brown, black );
  width: 100%;
  margin: 0 auto;
  height: 90px;
  line-height: 100px;
  color: $medieval-yellow;
}

h1, h2, h3 {
  font-family: $font-family-header;
}

h2 {
  font-size: $font-size-subheader;
}

h3 {
  font-size: $font-size-subheader-sec;
}

h2, h3 {
  font-weight: bold;
  margin: 15px 0;
}

p {
  font-size: 18px;
  padding-bottom: 30px;
  line-height: 30px;
  // width: 980px;
  margin: 0 auto;
}

img {
  width: auto;
  height: 300px;
}


a {
  text-decoration: none;
  color: $medieval-yellow;
}

nav {

  a:hover {
    color: black;
  }
}
