header {
  display: flex;
  justify-content: space-between;
  // background-color: $medieval-brown;
  background-image: radial-gradient($medieval-brown, black );
  width: 100%;
  margin: 0 auto;
  height: 90px;
  line-height: 100px;
  color: $medieval-yellow;

  ul {
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
  }

  li {
    font-family: $font-family-header;
    margin-left: 50px;
    font-size: $font-size-nav;
    padding-top: 25px;
  }

  h1 {
    font-size: $font-size-header;
    font-weight: bold;
    padding-bottom: 15px;
    margin-left: 30px;
    padding-top: 15px;
  }
}

body {
  background-color: $medieval-yellow;
  font-family: $font-family-body;
}



p {
  font-size: 18px;
  padding-bottom: 30px;
  line-height: 30px;
  width: 980px;
  margin: 0 auto;
}

.cinzel {
  font-family: $font-family-header;
}

.montserrat {
  font-family: $font-family-body;
}
