header {
  background-image: radial-gradient($medieval-brown, black );
  width: 100%;
  margin: 0 auto;
  height: 90px;
  line-height: 100px;
  color: $medieval-yellow;
}

h1, h2, h3 {
  font-family: $font-family-header;
}

body {
  background-color: $medieval-yellow;
  font-family: $font-family-body;
}

p {
  font-size: 18px;
  padding-bottom: 30px;
  line-height: 30px;
  // width: 980px;
  margin: 0 auto;
}

img {
  width: 200px;
  height: 300px;
}

