.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 30px;
}

.about-us {
  width: 100%;
}

.about-us_who{
  display: flex;
  width: 100%;
  // margin: 0 30px;
  justify-content: space-around;
}


