.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 30px;
}

.main-container {
  max-width: 100%;
  margin: 0 30px;
}

.about-us, .what, .why {
  width: 1200px;
  text-align: center;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;

  h2 {
    text-decoration: underline;
  }

  p {
    text-align: left;
  }
}

.about-us_who {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;

  ul {
    width: 500px;
    margin-top: 50px;
  }


  p {
    text-align: left;
  }
}

.monsterImages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 30px;
}

.about-game {
  max-width: 100%;
  margin: 0 30px;
  padding-bottom: 30px;

  h2 {
    text-decoration: underline;
    text-align: center;
  }

  a {
    color: black;
    text-decoration: underline;
  }

  a:hover {
    color: $medieval-brown;
  }
}

.about-game_main {
  ul {
    list-style-type: circle;
  }
}

footer{
  text-align: center;
  p{
    padding: 30px 0px;
  }
}

/* From Chris Coyer https://css-tricks.com/couple-takes-sticky-footer/ for sticky footer */
// html, body {
//   height: 100%;
// }
// body {
//   display: flex;
//   flex-direction: column;
// }

// main {
//   flex: 1 0 auto;
// }


// footer {
//   flex-shrink: 0;
// }
/* end of sticky footer code */