.hero-image {
  height: 700px;
  width: 100%; 
  background-image: url(../images/hero.jpg);
  background-position: center bottom;
  background-size: cover;
  background-position: center center;
}

.hero-image img {
  opacity: .5;
}

.hero-image_container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 400px;
}

.hero-image_container img {
  position: absolute;
}

.hero-image_container h1 {
  position: absolute;
  font-size: 215px;
  opacity: .9;
  margin-left: -75px;
  // margin-top: 0px;
  color: $medieval-yellow;
  font-family: $font-family-header;
}

