@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Lato|Montserrat|Oswald|Raleway');

$font-family-header: 'Cinzel Decorative', cursive;
$font-family-body: 'Montserrat', sans-serif;
$font-size-header: 50px;
$font-size-subheader: 25px;
$font-size-subheader-sec: 20px;
$font-size-nav: 20px;
$medieval-brown: #c2794f;
$medieval-yellow: #ffebb0;