@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Lato|Montserrat|Oswald|Raleway');

$font-family-header: 'Cinzel Decorative', cursive;
$font-family-body: 'Montserrat', sans-serif;
$font-size-header: 5vw;
$font-size-subheader: 2.5vw;
$font-size-subheader-sec: 2vw;
$font-size-nav: 2vw;
$font-monster-name: 1.9vw;
$medieval-brown: #c2794f;
$medieval-yellow: #ffebb0;