@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Lato|Montserrat|Oswald|Raleway');

$font-header: 'Cinzel Decorative', cursive;
$font-body: 'Montserrat', sans-serif;
$medieval-brown: #c2794f;
$medieval-yellow: #ffebb0;